body {
	background-color: #EFEFEF;
}
.expense-item:hover .buttons {
	display: block;
}
.expense-item .buttons {
	display: none;
	position: absolute;
    margin-left: -8px;
    margin-top: -10px;
}
.expense-item.minus {
	background-color: rgba(86, 6, 6, 0.23);
}
.expense-item.plus{
    background-color: rgba(6, 86, 9, 0.23);
}
.pointer {
	cursor: pointer;
}